<nav role="navigation">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Accueil</a></li>
    <li><a href="/le-projet" {% if page.url == "/le-projet" %}class="active"{% endif %}>Le Projet</a></li>
    <li><a href="/blog" {% if page.url == "/blog" %}class="active"{% endif %}>Actualités</a></li>
    <li><a href="/acteurs" {% if page.url == "/acteurs" %}class="active"{% endif %}>Acteurs</a></li>
    <li><a href="/rejoindre" {% if page.url == "/rejoindre" %}class="active"{% endif %}>Nous rejoindre</a></li>
  </ul>
</nav>
